<div class="container" (contextmenu)="onRightClick($event)">
  <!-- Room Categories -->
  <div *ngFor="let category of (categories$ | async); let i = index" cdkDropList (cdkDropListDropped)="drop($event, category.id)">
    <div class="category"><h3>{{ category.name }}</h3></div>
    <div class="room" *ngFor="let room of category.rooms" cdkDrag [ngClass]="room.type" [routerLink]="['text', room.id]" routerLinkActive="router-link-active" >{{ room.name }}</div>
  </div>

  <div *ngFor="let category of (categories$ | async); let i = index" cdkDropList (cdkDropListDropped)="drop($event, category.id)">
    <div class="category"><h3>{{ category.name }}</h3></div>
    <div class="room" *ngFor="let room of category.rooms" cdkDrag [ngClass]="room.type" [routerLink]="['text', room.id]" routerLinkActive="router-link-active" >{{ room.name }}</div>
  </div>

  <div *ngFor="let category of (categories$ | async); let i = index" cdkDropList (cdkDropListDropped)="drop($event, category.id)">
    <div class="category"><h3>{{ category.name }}</h3></div>
    <div class="room" *ngFor="let room of category.rooms" cdkDrag [ngClass]="room.type" [routerLink]="['text', room.id]" routerLinkActive="router-link-active" >{{ room.name }}</div>
  </div>

  <!-- Context Menu -->
  <div class="custom-context-menu" *ngIf="showContextMenu" [style.left.px]="contextMenuPosition.x" [style.top.px]="contextMenuPosition.y">
    <ul>
      <li (click)="createCategory()">Create a category</li>
      <li (click)="createRoom()">Create a new room</li>
    </ul>
  </div>
</div>
