<div class="container" (contextmenu)="onRightClick($event)">

  <!-- No rooms -->
  @if(categories().length == 1 && categories()[0].rooms.length == 0){
    <p class="no-rooms">No rooms found!</p>
  }

  <!-- Room Categories -->
  <div *ngFor="let category of categories(); let i = index"
      cdkDropList
      [id]="'cdk-drop-list-' + category.id"
      [cdkDropListData]="category.rooms"
      [cdkDropListConnectedTo]="connectedLists()"
      (cdkDropListDropped)="drop($event, category.id)">
  <div class="category"
      *ngIf="category.rooms.length > 0 || category.name!='Uncategorized'"
      [attr.category-id]="category.id"
      [attr.categoryLength]="category.rooms.length">
    {{ category.name }}
  </div>
    <div class="rooms">
      @if(serverAccessLevel > 0){
        <div class="room"
        [attr.room-id]="room.id"
        *ngFor="let room of category.rooms"
        cdkDrag
        [ngClass]="room.type"
        [routerLink]="[room.type, room.id]"
        routerLinkActive="router-link-active">
        <ng-template cdkDragPreview><div class="preview">{{room.name}}</div></ng-template>
        <ng-template cdkDragPlaceholder><div class="placeholder"></div></ng-template>
          {{ room.name }}
        </div>
      }
      @else{
        <!-- FOR NON ADMIN USERS -->
        <div class="room"
          *ngFor="let room of category.rooms"
            [ngClass]="room.type"
            [routerLink]="[room.type, room.id]"
            routerLinkActive="router-link-active">
        {{ room.name }}
      </div>
    }
    </div>
  </div>



  <!-- Context Menu -->
  <div class="custom-context-menu" *ngIf="showContextMenu" [style.left.px]="contextMenuPosition.x" [style.top.px]="contextMenuPosition.y">
    <ul>
      @if(serverAccessLevel > 0){
        <li (click)="createCategory()">Create a category</li>
        <li (click)="createRoom()">Create a new room</li>
        @if(isRoom) {
          <li (click)="deleteRoom(this.clickedRoomId)">Delete room</li>
        }
        @if(isCategory && clickedCategoryLength==0){
          <li (click)="deleteCategory(this.clickedCategoryId)">Delete category</li>
        }
        @else if (isCategory) {
          <li style="opacity:40%;">Delete category (must be empty)</li>
        }
      }
      @else {
        <li>Placeholder non-admin user</li>
        @if(isRoom) {
          <li>Placeholder non-admin user for room stuff</li>
        }
        @if(isCategory){
          <li>Placeholder non-admin user for category stuff</li>
        }
      }
    </ul>
  </div>
</div>

@if(showCreateCategory){
  <app-create-category (close)="toggleCreateCategory()"></app-create-category>
}
@if(showCreateRoom){
  <app-create-room [categoryId]="clickedCategoryId ? clickedCategoryId : null" (close)="toggleCreateRoom()"></app-create-room>
}

