.custom-context-menu {
  position: absolute;
  background-color: #191919da;
  opacity: 100%;
  overflow: hidden;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1000;
  width: 300px;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color:var(--white);
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background-color: var(--light-grey);
      }
    }
  }
}


.container{
  height: 100%;
  display:flex;
  flex-direction:column;
  border-radius: 5px;
  background-color: var(--grey);
  overflow-y:scroll;
  overflow-x: hidden;


  &::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f500;

  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--light-grey);
  }

  &:hover::-webkit-scrollbar{
    width:5px;
  }

}

.category{
  position:relative;
  background-color: var(--dark-grey);
  display: flex;
  border-radius:7px;
  justify-content: center;
  align-items: center;
  // font-size: 1.1rem;
  // font-weight: 700;
  height: 2rem;
  width: 13rem;
  text-align: center;
  color: var(--white);
  margin: 0;
  margin-bottom: 0.5rem;
}

.rooms{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.room{
  width:12.5rem;
  border-radius: 5px;
  margin: 0.1rem 0;

  transition: 0.2s ease-in-out all;


  &:hover{

    transition: 0.2s ease-in-out all;

    background-color: var(--light-grey);
    // margin-left: 2px;
  }


  &.text{
    color: var(--white);
    padding: 5px;
    border-bottom: 1px solid var(--dark-grey);
  }

  &:last-child{
    border-bottom: none;
  }


}


.router-link-active{
  background-color: var(--light-grey);
  // margin-left: 2px;
}


.placeholder{
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: green;
  margin: 3px 0;
  border-radius: 500px;
  height: 3px;
  width: 90%;
}

.preview{
  width:12.5rem;
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 5px;
  border-bottom: 1px solid var(--dark-grey);
}
