<div class="container">
  <div class="messages" #messagesContainer>
    <div class="message" *ngFor="let message of messages()">
      <div class="avatar">
        <img [src]="message.user.picture">
      </div>
      <div class="msg">
        <div class="msg-user">
          <b>{{message.user.name}}</b> <!-- {{message.timestamp | date:'HH:mm EEE, dd MMM yyyy'}} -->
        </div>
        <div class="msg-text">
          {{message.message}}
        </div>
      </div>
    </div>
    <div id="last-message"></div>
  </div>

  <div class="input">
    <textarea #messageInput [(ngModel)]="messageText"
              (keydown.enter)="sendMessage()"
              (input)="adjustHeight($event)"
              placeholder="Type a message...">
    </textarea>
    <div class="private" (click)="sendMessage()">send</div>
  </div>
</div>
