.container{
  background-color: transparent;
  display:grid;
  grid-template-rows:1fr auto;
  height: calc(100% - 1rem);
}

.messages {
  height:100%;
  // background-color: red;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.message{

  & .avatar{
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.input{
  max-height: 20rem;
  padding: 5px;
  background-color: blue;
  display:grid;
  grid-template-columns: auto 4rem;



  & textarea{
    background-color: transparent;
    border:none;
    max-height: 19rem;
    stroke: none;
    resize: none;
    width: calc(100% - 10px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

  }


  & .private{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.room-name{
  margin: 0.5rem 0 0 0.3rem;
  line-height: 0.5rem;
}


#last-message{
  margin-top:10px;
  height:1px;
  display: flex;
}
