<div class="container">
  <div class="messages" #messagesContainer>
    <div class="message" *ngFor="let messageGroup of messages()">
      <!-- Display the user info for the message group -->
      <div class="avatar">
        <img [src]="messageGroup[0].user.picture">
      </div>
      <div class="msg">
        <div class="msg-user">
          <p class="msg-user-name">
            <b>{{messageGroup[0].user.name}}</b>
          </p>

          <p class="msg-user-time">
            {{messageGroup[0].timestamp}}
          </p>
        </div>
        <!-- Render each message in the group -->
        <div class="msg-text" *ngFor="let message of messageGroup">
          <p class="msg-text-message">{{message.message}}</p>
        </div>

      </div>
    </div>
    <div id="last-message"></div>
  </div>

  <div class="input">
    <textarea #messageInput [(ngModel)]="messageText"
              (keydown.enter)="sendMessage()"
              (input)="adjustHeight($event)"
              placeholder="Type a message...">
    </textarea>
    <div class="private" (click)="sendMessage()">send</div>
  </div>
</div>
