<div class="container" (contextmenu)="onRightClick($event)">
    <div class="search">
      <div  *ngIf="serverAccessLevel > 0" class="search-bar">
        <input
          type="text"
          placeholder="Filter by user name"
          [(ngModel)]="searchQuery"
          (input)="filterMessages()"
        />

      </div>
      <div  *ngIf="serverAccessLevel > 0" class="search-dropdown">
        Ungraded users:
        <select title="selectedUser" (change)="this.searchQuery = selectedUser; filterMessages()">
          <option value="">All Users</option>
          <option *ngFor="let user of usersWithoutGrades" [value]="user.name">{{ user.name }}</option>
        </select>
        <button (click)="clearSearch()">Clear</button>
      </div>
    </div>
  <div class="messages" #messagesContainer>
    <div *ngIf="messages()?.length > 0; else noMessages">
      <div class="message" *ngFor="let messageGroup of messages()">
        <div class="avatar">
          <img [src]="messageGroup[0].user.picture" />
        </div>
        <div class="msg">
          <div class="msg-user">
            <p class="msg-user-name"><b>{{messageGroup[0].user.name}}</b></p>
            <p class="msg-user-time">{{messageGroup[0].timestamp}}</p>
          </div>
          <div class="msg-text" *ngFor="let message of messageGroup">
            <div class="msg-text-container" [attr.message-id]="message._id">
              <div *ngIf="message.reply_to != '0' " class="reply-preview-message">
                <p class="reply-preview-user">Replying to <b> {{ getRepliedUser(message.reply_to)?.name }} </b>:</p>
                <markdown class="reply-preview-content"> {{getRepliedMessage(message.reply_to)}}</markdown>
              </div>
              <markdown class="msg-text-message" [data]="message.message"></markdown>
              <div class="msg-attachments" *ngIf="message.attachments?.length">
                <div class="attachment" *ngFor="let url of message.attachments">
                  <img *ngIf="isImage(url)" [src]="url" class="attachment-img" />
                  <video *ngIf="isVideo(url)" controls [src]="url" class="attachment-video"></video>
                  <a *ngIf="!isImage(url) && !isVideo(url)" [href]="url" target="_blank" class="attachment-file">
                    <p class="attachment-file-icon">📄</p>
                    <p>{{ getFileName(url) }}</p>
                  </a>
                </div>
              </div>

              <p *ngIf="message !== messageGroup[0]" class="msg-text-time">{{message.timestamp}}</p>

              <div class="grade" *ngIf="message.grade" [style.background-color]="message.grade >= 7 ? 'rgb(0, 100, 25)' : message.grade >=5 ? 'rgb(161, 59, 0)' : 'rgb(100, 7, 0)'"> {{message.grade}}/10</div>
            </div>
          </div>
        </div>
      </div>
      <div id="last-message"></div>
    </div>
    <ng-template #noMessages>
      <div class="message">
        <div class="msg">
          <div class="msg-text">
            <p class="msg-text-message" style="text-align: center;">No messages to see here... yet!</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="reply-preview" *ngIf="replyingTo">
    <div class="preview-content">
      <p>Replying to <b>{{replyingTo.user.name}}</b>:</p>
      <markdown class="preview-message">{{replyingTo.message | slice:0:100}}{{replyingTo.message.length > 100 ? '...' : ''}}</markdown>
    </div>
    <button class="cancel-reply" (click)="cancelReply()">✕</button>
  </div>
  <div class="input">
    <!-- File Previews Section -->
    <div class="attachments-preview" *ngIf="selectedFiles.length > 0">
      <div class="attachment" *ngFor="let file of selectedFiles">
        <img alt="Preview" *ngIf="file.type.startsWith('image/')" [src]="file.preview" class="attachment-img" />
        <div class="attachment-file">
          <p class="attachment-file-icon" *ngIf="!file.type.startsWith('image/')">📎</p>
          <p *ngIf="!file.type.startsWith('image/')">{{file.name}}</p>
        </div>
      </div>
    </div>

    <!-- MD Editor Section -->
    <div class="input-container">
      <md-editor
        name="Content"
        [(ngModel)]="messageText"
        [height]="'200px'"
        [options]="editorOptions"
        required
        maxlength="500"
        (keydown.enter)="handleEnter($event)"
      ></md-editor>


      <div class="actions">
        <button type="button" class="send" (click)="fileInput.click()">📎</button>
        <button type="button" class="send" (click)="sendMessage()">send</button>
      </div>
    </div>
    <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput />
  </div>
  <!-- Context Menu -->
  <div class="custom-context-menu" *ngIf="showContextMenu" [style.left.px]="contextMenuPosition.x" [style.top.px]="contextMenuPosition.y">
    <ul>
      @if (serverAccessLevel > 0) {
        @if (isMessage) {
          <li (click)="showGrading = !showGrading"> Grade</li>
          <li (click)="deleteMessage()">Delete</li>
        }
      }
      @if (isMessage) {
        <li (click)="setReplyTo(getMessageById(clickedMessageId))">Reply</li>
      }
      @if (isMessage && this.clickedMessage.user_id === this.currentUser().id) {
        <li (click)="editMessage(clickedMessageId)">Edit</li>
        <li (click)="deleteMessage()" *ngIf="serverAccessLevel == 0">Delete</li>
      }

    </ul>
  </div>
  <div class="background" *ngIf="showGrading">
    <div class="grading-container">
      <div class="header">
        <h1>Add a grade</h1>
      </div>
      <div class="form">
        <div class="form-group">
          <label for="grade">Grade to add</label>
          <input type="number" class="form-control" id="grade" [(ngModel)]="grade">
        </div>
        <button (click)="gradeAssignment(clickedMessageId!, grade)">Set grade</button>
        <button (click)="showGrading = !showGrading">Close</button>
      </div>
    </div>
  </div>

</div>
