<!-- <h1>Welcome to {{server?.name}}!</h1>
<p>Server with ID {{server?.id}}</p>
<p>invite code {{server.invite_code}}</p> -->


<div class="container">
  <aside class="server-info">
    <div class="banner" style="display:flex;flex-direction: column;">
      <h1>{{server().name}}</h1><p><b>invite: {{server().invite_code}}</b></p>

    </div>
    <div class="rooms" (auxclick)="openMenu($event)">
      <app-room-list></app-room-list>
    </div>

  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
