.container {
  display: flex;
  grid-gap: 0.5rem; /* Gap between columns */
  height: 100%; /* Full viewport height */
  width: 100%; /* Full width of the container */
  padding: 0.5rem; /* Added padding to prevent content touching the edges */
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

.server-info, .main-content {
  border-radius: 5px;
  height: calc(100%); /* Set to auto for proper content fitting */
  overflow: hidden;
}

.server-info {

  transition: 0.3s all ease;
  width: 14rem;
  display:flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  grid-template-rows: 10rem auto;

  & .banner{
    width: 13.3rem;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(23, 74, 151);
  }

  &.collapsed{
    width:0;


    & + .server-info-btn{
      left:0px;
    }



  }

  &-btn{
    overflow: hidden;
    transition: 0.3s all ease;
    background-color: var(--dark-grey);
    outline: none;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--light-grey);
    border-left: none;
    position:absolute;
    top: 50%;
    left: calc(14rem);
    transform: translateX(14rem);
    transform: translateY(-50%);
    height: 100px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.side-group{
  position:relative;
}

.main-content {
  width: calc(100% - 14rem);
  background-color: var(--grey);


  &::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f500;

  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--light-grey);
  }

  &:hover::-webkit-scrollbar{
    width:5px;
  }

}

.toggle-icon{
  color:var(--light-grey)
}


