.container {
  display: flex;
  grid-gap: 0.5rem; /* Gap between columns */
  height: 100%; /* Full viewport height */
  width: 100%; /* Full width of the container */
  padding: 0.5rem; /* Added padding to prevent content touching the edges */
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

.server-info, .main-content {
  transition: 0.3s all ease;
  border-radius: 5px;
  height: 100%; /* Set to auto for proper content fitting */
  overflow: hidden;
}


.server-info {
  height: 100%;
  transition: 0.3s all ease;
  width: 14rem;
  display:flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  grid-template-rows: 10rem auto;

  & .banner{
    position: relative;
    width: 13.3rem;
    height: 8rem;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(23, 74, 151);

    & .invite-code{
      font-size: 15px;
      position: absolute;
      top: 100px;
      line-height: 1.5;

    }
  }

  &.collapsed{
    width:0;


    & + .server-info-btn{
      left:14px;
    }

  }

  .rooms {
    height: calc(100% - 10rem);
  }

  &-btn{

    transition: 0.1s all ease;
    background-color: var(--grey);
    outline: none;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--light-grey);
    border-left: none;
    position:absolute;
    top: 50%;
    left: calc(14rem + 68px + 1.4rem);
    // transform: translateX(14rem);
    transition: all 0.3s ease;
    transform: translateY(-50%);
    height: 100px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &:hover{
      background-color: var(--grey);
      cursor:pointer;
      width: 9px;
    }
  }

}

// .side-group{
//   position:relative;
// }

.main-content {
  width: calc(100% - 14rem);
  background-color: var(--grey);

}

.toggle-icon{
  color:var(--light-grey);
  font-weight: 700;

}


