<div class="container">
  <div class="status-online">
    <h2>Online</h2>
    <div class="user" *ngFor="let user of onlineUsers()">
      <div class="user-avatar">
        <img [src]="user.picture" alt="user avatar">
        <div class = "status-dot"></div>
      </div>
      <div class="user-info">
        <div class="user-info-name">
          <p>{{user.name}}</p>
        </div>
        <div class="user-info-status">
          <p>Online</p>
        </div>
      </div>
    </div>
  </div>

  <div class="status-offline">
    <h2>Offline</h2>
    <div class="user" *ngFor="let user of offlineUsers()">
      <div class="user-avatar">
        <img [src]="user.picture" alt="user avatar">
        <div class = "status-dot" [ngStyle]="{'background-color': '#606060'}"></div>
      </div>
      <div class="user-info">
        <div class="user-info-name">
          <p>{{user.name}}</p>
        </div>
        <!-- <div class="user-info-status">
          <p>Offline</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
