.button{
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: var(--white);
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--light-grey);
  border-radius: 25%;
  margin: 0 auto;
  margin-top: 0.5rem;
  transition: 0.2s ease-in-out;

  & img {
    height: 2.2rem;
    // apply color to the image
    filter: invert(0.1);
  }

  &:hover {
    transform:scale(1.05);
  }

  &#add-server{
    font-size: 2.5rem;
    background-color: var(--blue);
    margin-bottom: 7px;
  }
}

.active {
  border: 1px solid var(--green);
}

