<div class="background">
  <div class="container">
    <div class="header">
      <h1>Create new category</h1>
    </div>
    <div class="form">
      <div class="form-group">
        <label for="categoryName">Category name</label>
        <input type="text" class="form-control" id="categoryName" [(ngModel)]="categoryName">
      </div>

      <!-- TODO: Think of a good way  to organize categories and room types -->
      <!-- <div class="form-group">
        <label for="categoryType">Category Type</label>
        <select class="form-control" id="categoryType" [(ngModel)]="categoryType"
          [value]="categoryType">
          <option value="Courses">Courses</option>
          <option value="Assignments">Assignments</option>
          <option value="video">Others</option>
        </select>
      </div> -->
    </div>
    <div>
      <button (click)="createCategory()">Create</button>
      <button (click)="close_page()">Close</button>
    </div>
  </div>
</div>
