html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --white: #D9D9D9;
  --dark-grey: #202020;
  --grey: #242424;
  --light-grey: #363636;
  --green: #2A8002;
  --red: #DB1604;
  --blue: #0061c2;
}


.container {
  height: 100%;
  display: flex;
  padding:7px;
  flex-direction: row;
  box-sizing: border-box;

  background-color: var(--dark-grey);


}

markdown {
  p {
    margin: 0 !important;
    padding: 0;
  }

  ul, ol {
    margin: 0;
    padding-left: 1rem;
  }

  li {
    margin: 0.25rem 0;
  }
}

md-editor {

  & .btn-group::before{
    background-color: var(--light-grey) !important;
    display: none !important;
  }

  & .ace_print-margin {
    background-color: var(--dark-grey) !important;
  }
  // background-color: red;
  & .md-editor-container{
    // background-color: yellow;
    // padding: 10px;
    // border-radius: 10px;

    & .md-layout {
      // background-color: blue;
      padding: 10px;
      border-radius: 10px;

      & .tool-bar {
        background-color: var(--grey) !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;         /* Allow wrapping */
        max-width: 100%;
        padding: 0;
        margin:0;

        & .btn-group{
          // background-color: purple !important;
          // padding: 10px;
          border-radius: 10px;
          display: flex;
          flex-direction: row;

          & .btn{
            background-color: #444444 !important;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
          }
        }
      }

    }

  }

}

.ace_content{
  background-color: var(--grey) !important;
  color: var(--white) !important;
}

.md-footer{
  background-color: var(--grey) !important;
  color: var(--white) !important;
  font-size: 1rem !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.ace-editor{
  background-color: var(--grey) !important;
  color: var(--white) !important;
  font-size: 1rem !important;
  // padding: 10px !important;
  border-radius: 10px !important;
}

.ace_gutter{
  background-color: var(--grey) !important;
  // color: var(--white) !important;
  font-size: 1rem !important;
  // padding: 10px !important;
  border-radius: 10px !important;
  &-cell{
    background-color: var(--grey) !important;
    color: var(--white) !important;
    font-size: 1rem !important;
    border-radius: 10px !important;
  }
}

.editor-panel{
  background-color: var(--grey) !important;
  color: var(--white) !important;
  font-size: 1rem !important;
  padding: 10px !important;
  border-radius: 10px !important;
}


::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f500;

}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--light-grey);
}

.custom-context-menu {
  position: absolute;
  background-color: #191919da;
  opacity: 100%;
  overflow: hidden;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1000;
  width: 300px;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color:var(--white);
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background-color: var(--light-grey);
      }
    }
  }
}


.camera-video, .screen-share, .temp-video{
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
}

