.container {
  background-color: var(--grey);
  display: flex;
  color: var(--white);
  height: 100%;
  gap: 7px;
  box-sizing: border-box;
  position: relative;

  .left-sidebar, .main-content, .right-sidebar {
    border-radius: 7px;
  }
}

.sidebar {
  background-color: var(--dark-grey);
  transition: width 0.3s ease;
}

.left-sidebar {
  width: 70px;
  height: 100%;
  text-align: center;
  overflow: hidden;
  transition: width 0.3s ease;
}

.main-content {
  width: calc( 100% - 70px - 15rem );
  flex-grow: 1;
  background-color: var(--dark-grey);
  overflow: hidden;
  transition: margin 0.3s ease;
}

.right-sidebar {

  display: flex;
  height: 100%;
  width: 15rem;
  // background-color: var(--dark-grey);
  transition: width 0.3s ease;
}

.sidebar-toggle-btn {
    transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 100px;
  background-color: var(--grey);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  &.right {
    right: calc(15rem + 7px);
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--light-grey);
    border-right: none;
  }

  .rightsidebar{
    position:relative;
    overflow: hidden;
  }

  .toggle-icon {
    color: var(--light-grey);
    font-weight: 700;
    // font-size: 12px;
  }

  &:hover {
    width: 9px;
  }
}

.left-sidebar.collapsed {
  width: 0;
}

.right-sidebar.collapsed {
  width: 0;
  position: relative;
  right: -10px;

  & + .sidebar-toggle-btn.right {
    right: 0;
  }
}

// .main-content.collapsed-left {
//   margin-left: 20px;
// }

// .main-content.collapsed-right {
//   margin-right: 20px;
// }
