:host {
  color: var(--white);
}


.container {
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 70px 1fr 200px;
  height: 100vh;
  min-height: 400px;
  min-width: 600px;
  grid-gap: 7px;
  box-sizing: border-box;

  // child elements
  .left-sidebar, .main-content, .right-sidebar {
    border-radius: 7px;
  }
}

.sidebar {
  background-color: var(--dark-grey);
}

.left-sidebar {
  grid-column: 1 / 2;
  text-align: center;
  overflow: scroll;

  // hide scrollbars
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-content {
  grid-column: 2 / 3;
  background-color: var(--dark-grey);
  overflow: hidden;

}

.right-sidebar {
  grid-column: 3 / 4;
}
