<div class="container" #container>
  <aside class="sidebar left-sidebar" #leftsidebar>
    <div>uniVerse</div>
    <app-left-sidebar></app-left-sidebar>
  </aside>
  <button class="sidebar-toggle-btn left" (click)="toggleLeftSidebar()">
    <span class="toggle-icon">&#9664;</span>
  </button>

  <main class="main-content" #maincontent>
    <router-outlet></router-outlet>
  </main>

  <aside class="sidebar right-sidebar" #rightSidebar>
    <!-- Right sidebar content -->
  </aside>
  <button class="sidebar-toggle-btn right" (click)="toggleRightSidebar()">
    <span class="toggle-icon">&#9654;</span>
  </button>
</div>
