<div class="container">

  <div class="users-list">
    <div class="user">

    </div>
    <div class="user">

    </div>
    <div class="user">

    </div>
    <div class="user">

    </div>
    <div class="user">

    </div>
    <div class="user">

    </div>

  </div>

  <div class="buttons">
    <div class="button mute">
      🎙️
    </div>
    <div class="button screenshare">
      📺
    </div>
    <div class="button camera">
      📷
    </div>
    <div class="button leave">
      🚪
    </div>
    <div class="button join">
      🎤
    </div>
  </div>

</div>
