.users-list{
  width: 100% !important;
  height: calc(98% - 5rem) !important;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user{
  background-color: rgb(39, 39, 39);
  width: 16rem;
  height: 9rem;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.buttons{
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: var(--grey);
  border-radius: 10px;
  height: 4rem;
  margin-top: 0.5rem;
  width: 100%;
}

.button{
  background-color: var(--light-grey);
  border: 2px solid blue;
  width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover{
    transform: scale(1.05);

  }
}


.container{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
}


.media-streams {
  display: flex;
  gap: 10px;
  video {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
}
