<div class = "container">
  <div class="header">
    <h1>Professor Dashboard</h1>
  </div>

  <div class="content">
    <div class="card">
      <h2>Week {{server.weeks.length}}</h2>
      <div class="card-content">
        <p>Manage faculty weeks.</p>
        <button class="btn btn-primary" (click)="startNewWeek()">Start new week</button>
        <button class="btn btn-secondary" routerLink="/admin/courses">Delete week</button>
      </div>
    </div>

    <div class="card">
      <h2>Attendance</h2>
      <div class="card-content"><p>View and manage student attendance records.</p>
      <button class="btn btn-primary" routerLink="/admin/students">View attendance.</button>
      </div>
    </div>

    <div class="card">
      <h2>Assistants</h2>
      <div class="card-content"><p>View and manage professor records.</p>
      <button class="btn btn-primary" routerLink="/admin/professors">View assistants</button>
      </div>
    </div>

    <div class="card">
      <h2>Reports</h2>
      <div class="card-content"><p>Generate reports on courses, students, and professors.</p>
      <button class="btn btn-primary" routerLink="/admin/reports">Generate Reports</button>
      </div>
    </div>

    <div class="card">
      <h2>START TEST</h2>
      <div class="card-content"><p>Start a test room. Users need to launch the desktop client.</p>
      <button class="btn btn-primary" routerLink="/admin/settings">START TEST</button>
      </div>
    </div>
    <div class="card">
      <h2>Grading</h2>
      <div class="card-content"><p>Add grades to students.</p>
      <button class="btn btn-primary" routerLink="/admin/settings">Go to grading</button>
      </div>

  </div>
</div>
